<launch>
  <!-- Sim Time -->
  <param name="use_sim_time" value="true" />

  <!-- Gazebo Simulation Arguments -->
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="false" />
  <arg name="headless" default="true" />
  <arg name="world_name" default="$(find aggressive-navigation)/worlds/test.world" />

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="base" />

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="use_sim_time" default="$(arg use_sim_time)" />
    <arg name="gui" default="$(arg gui)" />
    <arg name="headless" default="$(arg headless)" />
    <arg name="world_name" default="$(arg world_name)" />
  </include>

  <!-- Jackal Spawn and Control -->
  <include file="$(find aggressive-navigation)/launch/include/gazebo/jackal_bringup.launch">
    <arg name="config" value="$(arg config)" />
  </include>
  
  <!-- TF -->
  <node pkg="jackal_velodyne" type="tf_publisher"    name="tf_publisher"    output="screen"/>
  <node pkg="tf" type="static_transform_publisher" name="velodyne_base_link" args="0 0 0 0 0 0 /base_link /velodyne 10" />
  <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 /map    /camera_init 10" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        /camera /base_link   10" />

  <!--- Lidar Odometry -->
  <node pkg="lego_loam" type="imageProjection"    name="imageProjection"    output="screen"/>
  <node pkg="lego_loam" type="featureAssociation" name="featureAssociation" output="screen"/>
  <node pkg="lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen"/>
  <node pkg="lego_loam" type="transformFusion"    name="transformFusion"    output="screen"/>

  <!-- <!-\-\- Run Move Base -\-> -->
  <!-- <include file="$(find aggressive-navigation)/launch/include/move_base/move_base.launch.xml" /> -->
  
  <!--- Run Traversability Mapping -->
  <node pkg="traversability_mapping" type="traversability_filter"  name="traversability_filter"  output="screen"/>
  <node pkg="traversability_mapping" type="traversability_map"     name="traversability_map"     output="screen"/>
  <node pkg="traversability_mapping" type="traversability_prm"     name="traversability_prm"     output="screen"/>
  <!-- <node pkg="traversability_mapping" type="traversability_path"    name="traversability_path"    output="screen"/> -->
  
  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" output="log" args="-d $(find aggressive-navigation)/rviz/benchmark.rviz" />

  <!-- Octomap Traversability Node -->
  <!-- node pkg="aggressive-navigation" type="octomap_traversability_node" name="octomap_traversability" -->
  <node pkg="aggressive-navigation" type="octomap_traversability_node_bis" name="octomap_traversability"
	output="screen"
	launch-prefix="xterm -e gdb run --args" >
    
    <param name="resolution" type="double" value="0.75" />
    
    <param name="resolution" value="0.4" />

    <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
    <param name="frame_id" type="string" value="map" />
    
    <!-- maximum range to integrate (speedup!) -->
    <param name="sensor_model/max_range" value="300.0" />
    
    <!-- data source to integrate (Poin	tCloud2) -->
    <remap from="cloud_in" to="/velodyne_points" />

    <param name="track_changes" type="bool" value="true" />
    <param name="topic_changes" type="string" value="/octo_changes" />
    <param name="change_id_frame" type="string" value="/map" />

    <param name="robot_length" type="double" value="0.5" />
    <param name="robot_width" type="double" value="0.5" />
    <param name="robot_height" type="double" value="0.5" />
    
  </node>

    <!-- <!-\- Run Pre-Parameterized Bag File -\-> -->
    <!-- <node pkg="rosbag"	type="play"	name="rosbag_play"	output="screen"	args="/home/paul/ros/rosbags/same_position.bag -\-clock -\-topic /velodyne_points /imu/data -\-rate 1" /> -->

</launch>
